<h1>This is a post form for testing User model and DB</h1>

<h2>email: {{ email }}</h2>
<form action="/users" method="post">
    <input type="email" name="email">
    <button type="submit">Submit</button>
</form>
